body { --bs-body-font-family: sans-serif; }

.wd-fAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

.wd-thumbnail {
    position: relative;
}

.wd-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.border-light.wd-override-bs {
    border-color: rgba(0, 0, 0, 0.125) !important;
}