body { --bs-body-font-family: sans-serif; }

.fAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

.rounded-top-20 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rounded-bottom-20 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}